@source "../../views";
@source "../../helpers";
@source "../../javascript";

@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", sans-serif;

  --shadow-card: 0 0 10px rgba(0, 0, 0, 0.08),
                 0 12px 24px rgba(0, 0, 0, 0.12);

  --color-accent: #ff8401;
  --color-success: #2acf48;
  --color-error: #ff4c29;
}

@layer components {
  .form-input {
    @apply h-[42px] py-[10px] px-4 border-[1px] border-neutral-300 flex flex-col w-full rounded-[10px];
  }
}