@media screen and (min-width: 320px) {
  /* タブレット縦用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==========================================================
        　　TB縦__商品番号（入力）
  ==============================================================*/
  .item-code-page {
    width: 100vw;
    height: 100svh;
    display: grid;
    place-content: center;
    padding-top: 8px;
  }

  .page-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.14em;
    color: #111;
  }

  .page-title .accent {
    color: #ff8401;
  }

  .submit-btn__box {
    width: 524px;
    margin: 64px auto auto;
  }

  .item-code-page .submit-btn {
    width: 524px;
    height: 120px;
    font-size: 38px;
  }

  .item-code-page .submit-btn span {
    padding-right: 16px;
    padding-left: 40px;
  }

}


@media screen and (min-width: 1024px) {
  /* タブレット横用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==========================================================
        　　TB横__商品番号（入力）
  ==============================================================*/
  .item-code-page {
    position: relative;
    padding: 0;
  }

  .page-title {
    font-size: 30px;
  }

  .input-code {
    font-size: 104px;
    margin: 40px 0 56px;
  }

  .num-btn__box {
    font-size: 52px;
    gap: 18px;
  }

  .num-btn {
    width: 140px;
  }

  .num-btn__delete {
    transform: scale(0.8);
  }

  .submit-btn__box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: auto;
  }

  .item-code-page .submit-btn {
    width: auto;
    height: auto;
    padding: 32px;
    font-size: 32px;
  }
}