<div class="items-edit-page items-form-page">
  <h1 class="page-title">備品編集</h1>

  <%= render "form", item: @item %>

  <%= link_to "一覧に戻る", admin_items_path, class: "back-btn items-form-btn js-button",
      data: { sound: "delete" } %>
</div>
