/* 全体の基本設定。body、文字、背景色、リンク、リセット系、共通カラーなど。 */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #FB8C00;
}

html,
body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: "Noto Sans", sans-serif;
}

.mvp-none {
  display: none;
}