/* 使い回す部品。ボタン、カード、バッジ、フォーム部品、タブ、ラベルなど。 */

/*=========== フラッシュメッセージ ===========*/
.flash-message {
  text-align: center;
  padding: 40px 16px;
  font-size: 20px;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.08em;
}

.flash-message.success {
  background-color: var(--color-success);
}

.flash-message.error {
  background-color: var(--color-error);
}

/*=========== テンキー ===========*/
.input-code {
  text-align: center;
  font-size: 136px;
  color: var(--color-accent);
  margin: 40px 0 56px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-left: 16px;
}

.num-btn__box {
  font-size: 64px;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin: 0 auto;
  gap: 22px;
}

.num-btn {
  display: grid;
  place-content: center;
  aspect-ratio: 11 / 7;
  width: 160px;
  height: auto;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.empty {
  visibility: hidden;
}

.num-btn__delete {
  display: grid;
  place-content: center;
  transform: scale(0.94);
}

/*=========== ボタン ===========*/
.submit-btn {
  background: var(--color-accent);
  color: var(--color-white);
  border-radius: 20px;
  letter-spacing: 0.6em;
  font-weight: 900;
  text-align: center;
}

/*=========== ボタン（アニメーション） ===========*/
.js-button {
  transition: transform 0.1s ease;
}

.js-button:active {
  transform: scale(0.95);
}

/* １文字削除ボタン */
.num-btn__delete:active {
  transform: scale(0.89);
}

@media screen and (min-width: 1024px) {
  /* タブレット横用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */

  /*=========== ボタン（アニメーション） ===========*/
  /* １文字削除ボタン */
  .num-btn__delete:active {
    transform: scale(0.75);
  }
}
